
.burger_menu {
    position: absolute;
    top: 10px;
    overflow: visible;
    position: fixed;
}
.btn_burger {
    background: no-repeat center url(../../assets/images/logo/burger-icon.png);
    background-size: 40px;
    width: 40px;
    height: 40px;
    /* border-radius: 100%; */
}




.order-item {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.delete-span {
  color: red;
}
